<component name="ProjectDictionaryState">
  <dictionary name="SYSTEM">
    <words>
      <w>counta</w>
      <w>countb</w>
      <w>ibtn</w>
      <w>idata</w>
      <w>idelete</w>
      <w>ifivesreport</w>
      <w>itpm</w>
      <w>kaizen</w>
      <w>mchecks</w>
      <w>mezz</w>
      <w>questionlayout</w>
      <w>unclicked</w>
    </words>
  </dictionary>
</component>